


/*Text----------------------------------*/

h1{
    display: flex;
    text-align: center;
    font-family: itc-benguiat, serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 320px;
    /* height: 211px; */
    color: #C82121;
}
h2{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 50px;
    /* line-height: 283px; */
    /* line-height: 5.66; */
    color: #213130;
}
.flex{
    width: 25%;
    padding: 1%;
    justify-content: space-evenly;
    align-items: baseline;

    
}
@media (min-width:576px){
    h1{
        display: flex;
        text-align: center;
        font-family: itc-benguiat, serif;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        font-size: 100px;
        /* height: 211px; */
        color: #C82121;
}
}
@media (min-width:768px){
    h1{
        display: flex;
        text-align: center;
        font-family: itc-benguiat, serif;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        font-size: 200px;
        /* height: 211px; */
        color: #C82121;
}
}
@media (min-width:992px){
    h1{
        display: flex;
        text-align: center;
        font-family: itc-benguiat, serif;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        font-size: 320px;
        /* height: 211px; */
        color: #C82121;
}
}

/*body----------------------------------*/

body{
    background: url(../hw19-images/fogtree1.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*section----------------------------------*/

/* .hero-img .uiux{
    display: grid;
    justify-content: center;
    align-items: center;
}
.stone{
    display: grid;
    justify-content: center;
    align-items: center;
}

.dante{
    display: grid;
    justify-content: center;
    align-items: center;
} */



/*header----------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
a{
    text-decoration: none;
}
li{
    display: flex;
    justify-content: space-between;
    vertical-align: center;

    width: 23%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size:  24px;
    text-transform: uppercase;
}

nav{
    display: flex;
    width: 100%;
    padding: 1%;
    color: #213130;
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    color: #213130;
}
.nav-links li a{
    transition:all .3s ease;
}

.nav-links li a:hover{
    color: #C82121;
    font-family: itc-benguiat, serif;
    font-weight: 700;
}
ul{
    width: 50%;
    margin-left: auto;
    text-decoration: none;
}

header a{
    color: #213130
}

header a:hover{
    color: #C82121;
}

/*section----------------------------------*/
.title-about{
    display: grid;
    justify-content: center;
    align-items: center;
    word-spacing: 1267px;
    width: 1267px;
}

button{
    display: flex;
    justify-content: center;
    color:white;
    background-color: #213130;
    font-family: Futura PT, serif;
    font-size: 24px;
}
button:hover{
    background-color:#C82121 ;
}


/*hero----------------------------------*/

.hero-img{
    padding: 25px; 
    margin: 0 auto;
}

/*footer----------------------------------*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: absolute;
    bottom: 0;    
    width: 100%;  
}
a{
    text-decoration: none;
}

.footmenu li{
    display: inline-block;
    padding: 0px 20px;
}
.footmenu{
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    width: 23%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size:  24px;
    text-transform: uppercase;
}
.footmenu{
    list-style: none;
}
.parent{
    display: flex;
    list-style: none;
    padding: 0;
}
.child{
    padding: 0.5rem 0.75rem;
}
.footmenu li a{
    transition:all 0.3s ease;
}

.footmenu li a:hover{
    color: white;
    font-family: itc-benguiat, serif;
    font-weight: 700;
}


.email{
    display: grid;
    place-items: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white ;

}
.fa{
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    color: #C82121;

}
.fa-linkedin{
    color: white;
}
.copyright{
    display: grid;
    place-items: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}
footer a{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
    color: white;

}
footer a:hover{
    color: #213130;
}

.hero-text{
    display: flex;
    align-items: stretch;
   
}

.hero-text h1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* extra----------------------------------- */


.hero-img {
    padding: 25px;
    margin: 0 auto;
}


.hero-text h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero-img{
    min-height: 73vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

/* .hero-text{
    display: flex;
    align-items: stretch;
} */

.hero-text h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}